:root {
    --vermelho: #E50914;
    --preto: #141414;
    --cinza: #AAA;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Elemntos base*/
body {
    font-family: 'Arial', Times, serif;
    color: white;
    background-color: var(--preto);
}
header .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

header .logo {
    color: var(--vermelho);
    font-family: Arial Black;
    font-size: 40px;
}

header nav a {
    text-decoration:none;
    color: var(--cinza);
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}

/*Elemntos Filmes*/
.filme-principal{
    background-color: #AAA;
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50) 100%), url('/clonenetflix/img/houseofcards.jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.filme-principal .titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.botao {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 5px 15px;
    margin-right: 15px;
    margin-top: 10px;
    font-size: 10px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: var(--cinza);
    color: var(--preto);
}

.botao i {
    margin-right: 10px;
}

.container {
    margin-left: 40px;
}

.filme-principal .container {
    width: 60%;
}

.box-filme {
    height: 50%;
    width: 50%;
    display: block;
}

.carrosel-filmes {
    margin-top: 5px;
}

article {
    background-color: var(--cinza);
}

section {
    background-color: var(--preto);
}

footer {
    padding: 20px;
    padding-top: 20px;
    background-color: var(--vermelho);
    height: 100px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

footer .top {
    text-decoration: none;
    color: var(--cinza);
}

footer a:hover {
    color: var(--preto);
}

footer div .top1 {
    border: 1px;
    border-radius: 5px;
    padding-right: 10px;
}

footer div .topo {
    border: 1px;
    border-radius: 5px;
    border-color: var(--preto);
    background-color: rgba(0,0,0,.50);
    width: 60px;
    height: 30px;
    align-items: center;
    padding: 5px;
}

footer div .topo:hover {
    border: 3px;
    border-color: aqua;
    background-color: var(--cinza);
}